/* ***reglages global*** */
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans serif;
    max-width: 1400px;
    margin: auto;
}
header{
    padding: 0 30px;
}
a {
    text-decoration: none;
    color: initial;
}
h2{
    font-weight: 700;
    font-size: 22px;  
}
h3{
    font-weight: 700;
    font-size: 18px;
}
h4{
    font-weight: 700;
    font-size: 16px;
}
i{
    color: #0065FC;
}
.carteHebergements, .cartePopulaire, .carteActivites{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.196);
}
/* ***NAVBAR*** */
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}
.logoDeBooki{
   width: 80px;
   height: 29px; 
}
.grandConteneurLiens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 100%;
}
.conteneurLienHebergements, .conteneurLienAcitivites{
    display: flex;
    justify-content: end;
    flex-grow: 1;
}
.conteneurLienHebergements a, .conteneurLienAcitivites a{
   position: relative;
}
.conteneurLienHebergements a:hover, .conteneurLienAcitivites a:hover{
    color: #0065FC;
}
.conteneurLienHebergements a::before, .conteneurLienAcitivites a::before{
    content: "";
    background: transparent;
    width: 100%;
    height: 2px;
    position: absolute;
    top: -40px;
}
.conteneurLienHebergements a:hover::before, .conteneurLienAcitivites a:hover::before{
    background-color: #0065FC;
}
/* ***TITRE*** */
.conteneurTitre{
    margin: 15px 0;
}
.titrePrincipale{
    font-weight: 700;
    font-size: 22px;
}
.conteneurTitre p{
    margin: 20px 0;
}
/* ***RECHERCHE*** */
.barreDeRecherche{
    display: flex;
}
.iconLocation{
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}
.fa-location-dot{
    color: initial;
}
.champDeRecherche{
    max-width: 232px;
    height: 50px;
}
.champDeRecherche input{
    width: 232px;
    height: 50px;
    border:1px solid #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
}
.rechercheIcon{
    min-width: 50px;
    height: 50px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
}
.fa-magnifying-glass{
    color: #FFFFFF;
}
.recherche{
    width: 132px;
    height: 50px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
/* ***FILTRE*** */
.filtres{
    margin: 30px 0;
}
.barreDeFiltres{
    display: flex;
    align-items: center;
}
.visuelFiltres{
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
    font-weight: 700;
    font-size: 17px;
    margin: 0 25px;
    cursor: pointer;
}
.visuelFiltres:hover{
    background: #DEEBFF;
}
.visuelFiltres i{
    scale: 1.3;
    margin-right: 15px;
}
/* ***INFOBAR*** */
.secInfobar{
    padding: 0 20px;
}
.infobar{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.infobarIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}
.infobar p{
    margin: 15px;
}
/* ***HEBERGEMENT*** */
.zoneHebergementEtPopulaire{
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
.grandConteneurHebergements{
    width: 65%;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 0 25px;
}
#hebergements{
    margin: 30px 0 ;
}
.conteneurGlobalCarteHebergements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
}
.carteHebergements{
    width: 32%;
    height: 200px;
    background: #FFFFFF;
    border-radius: 20px;
}
.espaceImageCarteHebergements{
    width: 100%;
    height: 125px;
    border:5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}
.espaceImageCarteHebergements img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.descriptionCarteHebergements{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.notation{
    display: flex;
}
.notation .fa-star:nth-child(5){
    color: #F2F2F2; 
}
.plus{
    margin: 40px 0 ;
}    
/* ***POPULAIRE*** */
.grandConteneurPopulaire{
    width: 32%;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 0 25px;
}
.titrePopulaire{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 30px 0 ;
}
.conteneurGlobalCartePopulaire{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cartePopulaire{
    width: 100%;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    /* display: flex; */
}
.cartePopulaire .lienCarte{
    display: flex;
    height: 100%;
}
.espaceImageCartePopulaire{
    width: 40%;
    min-width: 137px;
    height: 100%;
    border:5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}
.espaceImageCartePopulaire img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}
.descriptionCartePopulaire{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.descriptionCartePopulaire .notation{
    flex-grow: 2;
    align-items: flex-end;
}
/* ***ACTIVITES*** */
.zoneActivites{
    width: 100%;
    padding: 15px;
}
.grandConteneurActivites{
    width: 100%;
}
#activites{
    margin: 25px;
}
.conteneurGlobalCarteActivites{
    display: flex;
    justify-content: space-between;
}
.carteActivites{
    width: 22%;
    height: 445px;
    border-radius: 20px;
}
.espaceImageCarteActivites{
    width: 100%;
    height: 389px;
}
.espaceImageCarteActivites img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.descriptionCarteActivites{
    display: flex;
    height: 57px;
    padding: 0 15px;
    align-items: center;
    justify-content: start;
}
/* ***Footer*** */
.footer{
    width: 100%;
    height:225px;
    padding: 15px 15px 0 15px;
}
.conteneurGlobalFooter{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    padding: 35px;
}
.conteneurInfoFooter{
    height: 100%;
    width: 30%;
}
.conteneurInfoFooter ul{
    height: 100%;
}
.conteneurInfoFooter ul li{
    list-style-type: none;
    margin: 20px 0;
}