*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans serif;
    padding: 0 40px;
    max-width: 1400px;
    margin: auto;
}
/* NAVBAR */
header{
    padding: 0 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.logo img{
    width: 61px;
    height: 29px;
}
.menu a{
    text-decoration: none;
    color: black;
    margin-left: 45px;
    font-weight: 500;
}
.menu a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 44px;
}
/* RECHERCHE */
.tete h1{
    font-weight: 700;
    font-size: 22px;
    margin: 15px 0;
}
.tete h2{
    font-weight: 400;
    font-size: 16px;
    margin: 15px 0;
}
.barreDeRecherche{
    display: flex;
}
.iconLocation{
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
.champDeRecherche{
    max-width: 232px;
    height: 50px;
}
.champDeRecherche input{
    width: 232px;
    height: 50px;
    border:1px solid #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
}
.recherche{
    width: 132px;
    height: 50px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.rechercheLoupe{
    min-width: 50px;
    height: 50px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: #FFFFFF;
    display: none;
}
/* FILTRES */
.filtres{
    padding: 0 20px;
}
.barreDeFiltres{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.barreDeFiltres h2{
    font-weight: 700;
    font-size: 18px;
}
.visuelFiltres{
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
    font-weight: 700;
    font-size: 17px;
    margin: 0 25px;
    cursor: pointer;
}
.visuelFiltres:hover{
    background: #DEEBFF;
}
.visuelFiltres i{
    color: #0065FC;
    scale: 1.3;
    margin-right: 15px;
}
/* ***INFOBAR*** */
.secInfobar{
    padding: 0 20px;
}
.infobar{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.infobarIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    width: 25px;
    height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 15px;
}
/* CORP HERBERGEMENT  */
.corp{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.grandConteneurHebergements{
    width: 60%;
    height: auto;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
}
.grandConteneurHebergements h2{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;
}
.conteneurGlobalCarteHebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.carteHebergements{
    width: 30%;
    height: 200px;
    background: #FFFFFF;
    border-radius: 20px;
}
.lienCarte{
    text-decoration: none;
    color: black;
}
.espaceImageCarteHebergements{
    width: 100%;
    height: 125px;
    border:5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}
.espaceImageCarteHebergements img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.descriptionCarteHebergements{
    padding: 0 10px ;
}
.descriptionCarteHebergements h3{
    font-weight: 700;
    font-size: 16px;
}
.descriptionCarteHebergements p{
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0;
}
.notation{
    display: flex;
    justify-content: flex-start;
}
.notation i{
    color: #0065FC;
}
.notation i:nth-child(5){
    color: #F2F2F2;
}
.plus{
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
}
/* ***CORP POPULAIRE*** */

.grandConteneurPopulaire{
    width: 35%;
    height: auto;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
}
.titrePopulaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titrePopulaire i{
    color: #0065FC;
}
.conteneurGlobalCartePopulaire{

}
.cartePopulaire{
    width: 100%;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
}
.espaceImageCartePopulaire{
    width: 137px;
    height: 100%;
    border:5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}
.espaceImageCartePopulaire img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}